<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发表文章</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>quewww</h1>
    <form method="post">
        <div class="formgroup">
            <label for="title">标题</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="formgroup">
            <label for="content">内容</label>
            <textarea name="content" id="content" rows="10" required></textarea>
        </div>
        <div class="formgroup">
            <label for="author">作者</label>
            <input type="text" id="author" name="author">
        </div>
        <button type="submit">发表文章</button>
    </form>
    <p><a href="{{url_for('index')}}">返回首页</a></p>
</body>
</html>